<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jh.inforeader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         android:theme="@style/AppBaseTheme">
        <activity
            android:icon="@drawable/ic_launcher"  
            android:name="com.jh.inforeader.InfoTitleListActivity"
            android:label="@string/app_name" 
            >
        </activity>
        <activity
            android:icon="@drawable/ic_launcher"  
            android:name="com.jh.inforeader.BlogActivity"
            android:label="@string/title_activity_blog" 
            >
        </activity>
        <activity
            android:name="com.jh.inforeader.InfoDetailsActivity"
            android:label="@string/title_activity_blog_details" 
             >
        </activity>
        <activity
            android:icon="@drawable/ic_launcher"  
            android:name="com.jh.inforeader.RSSManagerActivity"
            android:label="@string/title_activity_rssmanager"
            android:parentActivityName="android.app.ListActivity" 
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
